<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.celar.ui.newCloudProviderWizards">
      <wizard
            class="eu.celar.connectors.openstack.ui.wizards.OpenStackCloudProviderWizard"
            id="eu.celar.connectors.openstack.ui.wizards.openstackCloudProviderWizard"
            name="OpenStack Cloud Provider">
      </wizard>
   </extension>
<extension
         point="eu.celar.ui.authTokenUI">
      <wizard
            class="eu.celar.connectors.openstack.ui.wizards.OpenStackAuthTokenWizard"
            icon="icons/obj16/proxy.gif"
            id="eu.celar.connectors.openstack.ui.wizards.openstackAuthTokenWizard"
            name="OpenStack Auth Token">
      </wizard>
      <factory
            class="eu.celar.connectors.openstack.ui.dialogs.OpenStackAuthTokenUIFactory"
            id="eu.celar.connectors.openstack.ui.openstackAuthTokenUIFactory"
            name="OpenStack Auth Token UI Factory">
      </factory>
   </extension>
</plugin>
