<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="propertiesFactory" name="propertiesFactory" schema="schema/PropertiesFactory.exsd"/>
   <extension-point id="authTokenUI" name="Authentication Token UI Contributions" schema="schema/authTokenUI.exsd"/>
   <extension-point id="newCloudProviderWizards" name="eu.celar.ui.newCloudProviderWizards" schema="schema/newCloudProviderWizards.exsd"/>
   

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CELAR"
            id="eu.celar.ui">
      </category>
      <view
            name="Cloud Project View"
            icon="icons/sample.gif"
            category="eu.celar.ui"
            class="eu.celar.ui.views.CloudProjectView"
            id="eu.celar.ui.views.CloudProjectView">
      </view>
      <view
            category="eu.celar.ui"
            class="eu.celar.ui.views.AuthTokenView"
            icon="icons/eview16/authtokens.gif"
            id="eu.celar.ui.views.authenticationTokenView"
            name="Authentication Token UI"
            restorable="true">
      </view>
      <view
            category="eu.celar.ui"
            class="eu.celar.ui.views.ApplicationDeploymentMockupView"
            id="eu.celar.ui.views.deploymentview"
            name="Application Deployments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="eu.celar.ui.views.CloudProjectView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="eu.celar.ui.decorators.CloudProjectFolderDecorator"
            id="eu.clear.ui.CloudProjectFolderDecorator"
            label="Cloud Project Folder Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="eu.celar.core.model.ICloudContainer">
            </objectClass></enablement>
      </decorator>
   </extension>
   
      <extension
         point="eu.celar.core.authTokenProvider">
      <provider
            class="eu.celar.ui.UIAuthTokenProvider"
            priority="999">
      </provider>
   </extension>
   
      <extension
         point="eu.celar.core.cloudProjectFolder">
      <folder
            elementClass="eu.celar.core.model.ICloudApplicationDescription"
            id="eu.celar.core.projectfolder.appdescriptions"
            label="Application Descriptions"
            name="Application Description Folder"
            preset="true">
      </folder>
            <folder
            elementClass="eu.celar.core.model.ICloudApplicationSubmission"
            id="eu.celar.core.projectfolder.applicationsubmissions"
            label="Application Submissions"
            name="Application Submissions Folder"
            preset="true">
      </folder>
      <folder
            elementClass="eu.celar.core.model.ICloudScript"
            id="eu.celar.core.projectfolder.scripts"
            label="Artifacts"
            name="Artifacts Folder"
            preset="true">
      </folder>
      <folder
            elementClass="eu.celar.core.model.ICloudApplicationMonitorDescription"
            id="eu.celar.core.projectfolder.monitoring"
            label="Monitoring"
            name="Monitoring Folder"
            preset="true">
      </folder>
   </extension>
      <extension
            point="org.eclipse.ui.newWizards">
         <wizard
               canFinishEarly="false"
               category="eu.celar.ui.newResourceCategory"
               class="eu.celar.ui.wizards.NewCloudProjectWizard"
               hasPages="true"
               icon="icons/etool16/newcelarprj_wiz.gif"
               id="eu.celar.ui.wizards.cloudProjectWizard"
               name="CELAR Project"
               project="true">
            <description>
               Create a new CELAR Cloud project
            </description>
         </wizard>
         <category
               id="eu.celar.ui.newResourceCategory"
               name="CELAR">
         </category>
         <wizard
               canFinishEarly="false"
               category="eu.celar.ui.newResourceCategory"
               class="eu.celar.ui.wizards.NewApplicationDescription"
               hasPages="true"
               icon="icons/etool16/newtosca_wiz.gif"
               id="eu.celar.ui.wizards.applicationDescriptionWizard"
               name="Application Description"
               project="false">
            <description>
               Create a new CELAR Application Description
            </description>
         </wizard>
         <wizard
               canFinishEarly="false"
               class="eu.celar.ui.wizards.NewSubmissionWizard"
               icon="icons/etool16/newsubmit_wiz.gif"
               id="eu.celar.ui.wizards.applicationSubmissionWizard"
               name="Application Submission"
               project="false">
            <description>
               Submit a new CELAR Application for deployment
            </description>
         </wizard>
         <wizard
               canFinishEarly="false"
               class="eu.celar.ui.wizards.NewDeploymentWizard"
               icon="icons/etool16/newsubmit_wiz.gif"
               id="eu.celar.ui.wizards.applicationDeploymentWizard"
               name="Application Deployment"
               project="false">
         </wizard>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Submit"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.celar.ui.wizards.applicationSubmissionWizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="eu.celar.ui.toscaDefinition">
                        </reference>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Deploy"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="eu.celar.ui.wizards.applicationDeploymentWizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="eu.celar.ui.deploymentDefinition">
                        </reference>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
         </menuContribution>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.expressions.definitions">
         <definition
               id="eu.celar.ui.toscaDefinition">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="tosca">
               </test>
            </adapt>
         </definition>
         <definition
               id="eu.celar.ui.deploymentDefinition">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="deployment">
               </test>
            </adapt>
         </definition>
      </extension>
      <extension
            point="org.eclipse.ui.ide.projectNatureImages">
         <image
               icon="icons/ovr16/project_ovr.gif"
               id="eu.celar.ui.NatureImage"
               natureId="eu.celar.core.project.CloudProjectNature">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="eu.celar.ui.internal.preference.CEclipsePreferencePage"
               id="eu.celar.ui.internal.preference.CEclipsePreferencePage"
               name="c-Eclipse">
         </page>
         <page
               category="eu.celar.ui.internal.preference.CEclipsePreferencePage"
               class="eu.celar.ui.internal.preference.CloudProviderPreferencePage"
               id="eu.celar.ui.internal.preference.CloudProviderPreferencePage"
               name="Cloud Providers">
         </page>
      </extension>
      <extension
            point="eu.celar.ui.newCloudProviderWizards">
         <wizard
               class="eu.celar.ui.wizards.CELARCloudProviderWizard"
               id="eu.celar.ui.wizards.CELARCloudProviderWizard"
               name="CELAR Cloud Provider">
         </wizard>
      </extension>
      <extension
            point="eu.celar.ui.newCloudProviderWizards">
         <wizard
               class="eu.celar.ui.wizards.GenericCloudProviderWizard"
               id="eu.celar.ui.wizards.GenericCloudProviderWizard"
               name="Generic Cloud Provider">
         </wizard>
      </extension>
</plugin>
